body {
    background-color: rgb(233, 241, 205);
}

.navbar {
    // background-color: rgb(212, 214, 153) !important;
    background-color: rgb(212, 212, 247) !important;
}

// .navbar-expand-md

.card {
    box-shadow: 5px 5px 5px gray;
    border-radius: 7px !important;
}
.card-header {
    background-color: rgb(214, 213, 255);
    // rgb(229, 199, 253);
    color: rgb(62, 54, 68);
    font-size: 18px;
    font-style: italic;
    box-shadow: 5px 5px 10px gray;
    border-radius: 7px !important;
    padding-top: 7px;
    // padding-bottom: 7px;
    fieldset {
        margin: 5px;
        padding: 12px;
        display: flex;
        border: rgb(239, 253, 231) 1px solid;
        .block {
            // margin-top: 3px;
            // margin-bottom: 3px;
            margin-left: 3%;
            margin-right: 3%;
            .btn {
                margin-left: 7px;
                margin-right: 7px;
            }
            .form-check {
                font-size: 13px;
                font-weight: 700;
            }

        }
        select {
            height: 30px;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
    legend {
        color: rgb(62, 61, 124);
        font-size: 14px;
        font-weight: 700;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 4px;
    }
}

.card-top-actions {
    padding: 10px;
    background-color: rgb(214, 213, 255);
    margin-top: 10px;
}

.card-body {
    .btn:not(.note-btn) {
        box-shadow: 5px 5px 5px gray;
    }
}
.form-group {
    .text-muted {
        font-style: italic;
    }
}

.petforms-all {
    // align-self: center;
    padding-left: 0;
    padding-right: 0;
}

.one-petform {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    // max-height: 130px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    margin-top: -1px;
    background-color: rgb(235, 252, 235);
}


.one-petform-data {
    width: 33%;
    margin-top: auto;
    margin-bottom: auto;
}

.one-ownerform {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-self: center;
    min-height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    margin-top: -1px;
    background-color: rgb(235, 252, 235);
}

.one-ownerform-data {
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
}

.one-form-data {
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 3%;
}

.one-form-data-27 {
    width: 26%;
    margin-top: auto;
    margin-bottom: auto;
    // margin-left: 3%;
}

.one-form-data-23 {
    width: 23%;
    margin-top: auto;
    margin-bottom: auto;
    // margin-left: 3%;
}

.client-board {
    width: 100%;
    display: flex;
    // border: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(235, 252, 235);
}
.board-first {
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.board-second {
    width: 40%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 5px 5px 0;
    // border-left: none;
}

.board-col-name {
    text-align: center;
    font-weight: 700;
    padding: 5px;
    color: rgb(98, 116, 84);
    
}

.board-data {
    font-size: 14px;
    padding: 7px;
    text-align: center;
}

.little-data {
    width: 40%;
    min-width: 180px;
    margin-top: 3px;
    display: flex;
    float: inline-end;
    justify-content: center;
    font-style: italic;
}

.little-txt {
    margin: 7px;
    text-align: center;
}

.btn.confirm {
    color: rgb(38, 58, 51);
    background-color: rgb(159, 255, 159);
    font-size: 16px;
}
.btn.edit {
    color: rgb(17, 24, 88);
    background-color: rgb(166, 180, 243);
    font-size: 16px;
}

.btn.danger {
    color: rgb(38, 58, 51);
    // background-color: rgb(253, 202, 200);
    background-color: rgb(207, 176, 129);
    font-size: 16px;
    box-shadow: 5px 5px 5px gray;
    
}

.btn.addbtn {
    color: rgb(38, 58, 51);
    background-color: rgb(149, 253, 117);
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
}

.btn.show {
    background-color: rgb(231, 252, 198);
    color: rgb(31, 61, 51);
    font-size: 16px;
}

// .btn {
//     margin-left: 15%;
//     margin-right: 15%;
// }

.btn-sort {
    // background-color: rgb(255, 243, 217);
    background-color: rgb(236, 250, 199);
    color: rgb(1, 73, 1);
    box-shadow: 5px 5px 5px gray;
    font-style: italic;
}

.btns {
    display: flex;
    justify-content: center;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    .btn {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.btns-3 {
    display: flex;
    justify-content: center;
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
    .btn {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.btn-center {
    justify-content: center;
    display: flex;
}

.form-group.borderg {
    border: 1px solid rgb(206, 212, 218);
    border-radius: 5px;
    padding-left: 2%;
}

img {
    height: auto;
    max-width: 100%;
    padding: 7px;

}
.placeImg {
    max-width: 20%;
    max-height: 20%;
}

.item-name {
    font-size: 18px;
    color: rgb(0, 105, 96);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.ital {
    font-style: italic;
}

.alert-info {
    background-color: rgb(255, 214, 214);
    color: rgb(145, 22, 22);
}

.txtblue {
    color: rgb(88, 112, 110);
}
.centr {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.paginate {
    display: table;
    margin-left: auto;
    margin-right: auto;
    // margin-top: 20px;
}

.main-title {
    color: rgb(17, 59, 19) !important;
}

.short20 {
    width: 30%;
}

@media all and (max-width: 1190px) {
    .main-title, .item-name {
        font-size: 14px;
    }
    .item-name {
        width: auto;
    }

    .one-form-data-27, .centr {
        width: 20%;
        font-size: 12px;
    }
    .btns, .btns-3 {
        font-size: 12px;
        min-width: 22%;
    }

    .btn {
        font-size: 12px !important;
    }
}

// @media all and (max-width: 1000px) {
//     .btns, .btns-3 {
//         width: 100%;
//     }
// }




